@layer reset, base, tokens, recipes, utilities;

@layer reset{
  html,:host {
    --font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    font-family: var(--global-font-body, var(--font-fallback));
}

  *,::before,::after,::backdrop,::file-selector-button {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: var(--global-color-border, currentColor);
}

  hr {
    height: 0px;
    color: inherit;
    border-top-width: 1px;
}

  body {
    height: 100%;
    line-height: inherit;
}

  img {
    border-style: none;
}

  img,svg,video,canvas,audio,iframe,embed,object {
    display: block;
    vertical-align: middle;
}

  img,video {
    max-width: 100%;
    height: auto;
}

  h1,h2,h3,h4,h5,h6 {
    text-wrap: balance;
    font-size: inherit;
    font-weight: inherit;
}

  p,h1,h2,h3,h4,h5,h6 {
    overflow-wrap: break-word;
}

  ol,ul,menu {
    list-style: none;
}

  button,input:where([type='button'], [type='reset'], [type='submit']),::file-selector-button {
    appearance: button;
    -webkit-appearance: button;
}

  button,input,optgroup,select,textarea,::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    background: transparent;
}

  ::placeholder {
    opacity: 1;
    --placeholder-fallback: color-mix(in srgb, currentColor 50%, transparent);
    color: var(--global-color-placeholder, var(--placeholder-fallback));
}

  textarea {
    resize: vertical;
}

  table {
    text-indent: 0px;
    border-collapse: collapse;
    border-color: inherit;
}

  summary {
    display: list-item;
}

  small {
    font-size: 80%;
}

  sub,sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}

  sub {
    bottom: -0.25em;
}

  sup {
    top: -0.5em;
}

  dialog {
    padding: 0px;
}

  a {
    color: inherit;
    text-decoration: inherit;
}

  abbr:where([title]) {
    text-decoration: underline dotted;
}

  b,strong {
    font-weight: bolder;
}

  code,kbd,samp,pre {
    --font-mono-fallback: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New';
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-family: var(--global-font-mono, var(--font-mono-fallback));
    font-size: 1em;
}

  progress {
    vertical-align: baseline;
}

  ::-webkit-search-decoration,::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

  ::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto;
}

  :-moz-ui-invalid {
    box-shadow: none;
}

  :-moz-focusring {
    outline: auto;
}

  [hidden]:where(:not([hidden='until-found'])) {
    display: none !important;
}
}

@layer base{
  :root {
    --made-with-panda: '🐼';
}

  *,::before,::after,::backdrop {
    --blur: /*-*/ /*-*/;
    --brightness: /*-*/ /*-*/;
    --contrast: /*-*/ /*-*/;
    --grayscale: /*-*/ /*-*/;
    --hue-rotate: /*-*/ /*-*/;
    --invert: /*-*/ /*-*/;
    --saturate: /*-*/ /*-*/;
    --sepia: /*-*/ /*-*/;
    --drop-shadow: /*-*/ /*-*/;
    --backdrop-blur: /*-*/ /*-*/;
    --backdrop-brightness: /*-*/ /*-*/;
    --backdrop-contrast: /*-*/ /*-*/;
    --backdrop-grayscale: /*-*/ /*-*/;
    --backdrop-hue-rotate: /*-*/ /*-*/;
    --backdrop-invert: /*-*/ /*-*/;
    --backdrop-opacity: /*-*/ /*-*/;
    --backdrop-saturate: /*-*/ /*-*/;
    --backdrop-sepia: /*-*/ /*-*/;
    --gradient-from-position: /*-*/ /*-*/;
    --gradient-to-position: /*-*/ /*-*/;
    --gradient-via-position: /*-*/ /*-*/;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --rotate-x: 0;
    --rotate-y: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1;
}
}

@layer tokens{
  :where(:root, :host) {
    --animations-backdrop-in: fade-in 250ms var(--easings-emphasized-in);
    --animations-backdrop-out: fade-out 200ms var(--easings-emphasized-out);
    --animations-dialog-in: slide-in 400ms var(--easings-emphasized-in);
    --animations-dialog-out: slide-out 200ms var(--easings-emphasized-out);
    --animations-drawer-in-left: slide-in-left 400ms var(--easings-emphasized-in);
    --animations-drawer-out-left: slide-out-left 200ms var(--easings-emphasized-out);
    --animations-drawer-in-right: slide-in-right 400ms var(--easings-emphasized-in);
    --animations-drawer-out-right: slide-out-right 200ms var(--easings-emphasized-out);
    --animations-skeleton-pulse: skeleton-pulse 2s var(--easings-pulse) infinite;
    --animations-fade-in: fade-in 400ms var(--easings-emphasized-in);
    --animations-collapse-in: collapse-in 250ms var(--easings-emphasized-in);
    --animations-collapse-out: collapse-out 200ms var(--easings-emphasized-out);
    --animations-spin: spin 1s linear infinite;
    --blurs-sm: 4px;
    --blurs-base: 8px;
    --blurs-md: 12px;
    --blurs-lg: 16px;
    --blurs-xl: 24px;
    --blurs-2xl: 40px;
    --blurs-3xl: 64px;
    --borders-none: none;
    --durations-fastest: 50ms;
    --durations-faster: 100ms;
    --durations-fast: 150ms;
    --durations-normal: 200ms;
    --durations-slow: 300ms;
    --durations-slower: 400ms;
    --durations-slowest: 500ms;
    --easings-pulse: cubic-bezier(0.4, 0.0, 0.6, 1.0);
    --easings-default: cubic-bezier(0.2, 0.0, 0, 1.0);
    --easings-emphasized-in: cubic-bezier(0.05, 0.7, 0.1, 1.0);
    --easings-emphasized-out: cubic-bezier(0.3, 0.0, 0.8, 0.15);
    --sizes-0: 0rem;
    --sizes-1: 0.25rem;
    --sizes-2: 0.5rem;
    --sizes-3: 0.75rem;
    --sizes-4: 1rem;
    --sizes-5: 1.25rem;
    --sizes-6: 1.5rem;
    --sizes-7: 1.75rem;
    --sizes-8: 2rem;
    --sizes-9: 2.25rem;
    --sizes-10: 2.5rem;
    --sizes-11: 2.75rem;
    --sizes-12: 3rem;
    --sizes-14: 3.5rem;
    --sizes-16: 4rem;
    --sizes-20: 5rem;
    --sizes-24: 6rem;
    --sizes-28: 7rem;
    --sizes-32: 8rem;
    --sizes-36: 9rem;
    --sizes-40: 10rem;
    --sizes-44: 11rem;
    --sizes-48: 12rem;
    --sizes-52: 13rem;
    --sizes-56: 14rem;
    --sizes-60: 15rem;
    --sizes-64: 16rem;
    --sizes-72: 18rem;
    --sizes-80: 20rem;
    --sizes-96: 24rem;
    --sizes-0\.5: 0.125rem;
    --sizes-1\.5: 0.375rem;
    --sizes-2\.5: 0.625rem;
    --sizes-3\.5: 0.875rem;
    --sizes-4\.5: 1.125rem;
    --sizes-2xs: 16rem;
    --sizes-xs: 20rem;
    --sizes-sm: 24rem;
    --sizes-md: 28rem;
    --sizes-lg: 32rem;
    --sizes-xl: 36rem;
    --sizes-2xl: 42rem;
    --sizes-3xl: 48rem;
    --sizes-4xl: 56rem;
    --sizes-5xl: 64rem;
    --sizes-6xl: 72rem;
    --sizes-7xl: 80rem;
    --sizes-8xl: 90rem;
    --sizes-full: 100%;
    --sizes-min: min-content;
    --sizes-max: max-content;
    --sizes-fit: fit-content;
    --sizes-breakpoint-sm: 640px;
    --sizes-breakpoint-md: 768px;
    --sizes-breakpoint-lg: 1024px;
    --sizes-breakpoint-xl: 1280px;
    --sizes-breakpoint-2xl: 1536px;
    --z-index-hide: -1;
    --z-index-base: 0;
    --z-index-docked: 10;
    --z-index-dropdown: 1000;
    --z-index-sticky: 1100;
    --z-index-banner: 1200;
    --z-index-overlay: 1300;
    --z-index-modal: 1400;
    --z-index-popover: 1500;
    --z-index-skip-link: 1600;
    --z-index-toast: 1700;
    --z-index-tooltip: 1800;
    --colors-neutral-0: #080A0E;
    --colors-neutral-100: #101216;
    --colors-neutral-200: #181A1E;
    --colors-neutral-300: #282A2E;
    --colors-neutral-400: #383A3E;
    --colors-neutral-500: #505256;
    --colors-neutral-600: #64666A;
    --colors-neutral-700: #787A7E;
    --colors-neutral-800: #A0A2A6;
    --colors-neutral-900: #B4B6BA;
    --colors-neutral-1000: #F2F4F8;
    --colors-neutral-1050: #EDEEF1;
    --colors-neutral-1100: #FAFCFF;
    --colors-neutral-1200: #F8F9FF;
    --colors-black-700-a: rgba(0,0,0,0.8);
    --colors-black-600-a: rgba(0,0,0,0.6);
    --colors-black-500-a: rgba(0,0,0,0.4);
    --colors-black-400-a: rgba(0,0,0,0.32);
    --colors-black-300-a: rgba(0,0,0,0.2);
    --colors-black-200-a: rgba(0,0,0,0.12);
    --colors-black-100-a: rgba(0,0,0,0.08);
    --colors-white-700-a: rgba(255,255,255,0.8);
    --colors-white-600-a: rgba(255,255,255,0.6);
    --colors-white-500-a: rgba(255,255,255,0.4);
    --colors-white-400-a: rgba(255,255,255,0.32);
    --colors-white-300-a: rgba(255,255,255,0.2);
    --colors-white-200-a: rgba(255,255,255,0.12);
    --colors-white-100-a: rgba(255,255,255,0.08);
    --colors-red-100: #ffeceb;
    --colors-red-200: #ffd5d2;
    --colors-red-300: #fd9891;
    --colors-red-400: #f87168;
    --colors-red-500: #f15b50;
    --colors-red-600: #e2483d;
    --colors-red-700: #c9372c;
    --colors-red-800: #87241c;
    --colors-red-900: #5d1f1a;
    --colors-red-1000: #42221f;
    --colors-orange-100: #fff5eb;
    --colors-orange-200: #ffe9d2;
    --colors-orange-300: #fdc991;
    --colors-orange-400: #f8b268;
    --colors-orange-500: #f1a350;
    --colors-orange-600: #e2923d;
    --colors-orange-700: #c97d2c;
    --colors-orange-800: #87531c;
    --colors-orange-900: #5d3d1a;
    --colors-orange-1000: #42311f;
    --colors-blue-100: #ebf2ff;
    --colors-blue-200: #d2e1ff;
    --colors-blue-300: #91b5fd;
    --colors-blue-400: #6898f8;
    --colors-blue-500: #5086f1;
    --colors-blue-600: #3d74e2;
    --colors-blue-700: #2c60c9;
    --colors-blue-800: #1c4087;
    --colors-blue-900: #1a305d;
    --colors-blue-1000: #1f2b42;
    --colors-green-100: #ebfff5;
    --colors-green-200: #9cfccc;
    --colors-green-300: #47EB99;
    --colors-green-400: #26d980;
    --colors-green-500: #14b866;
    --colors-green-600: #10934c;
    --colors-green-700: #147042;
    --colors-green-800: #125433;
    --colors-green-900: #104129;
    --colors-green-1000: #0b2819;
    --colors-purple-100: #f3ebff;
    --colors-purple-200: #e9ddfd;
    --colors-purple-300: #cbacfb;
    --colors-purple-400: #ac7cf8;
    --colors-purple-500: #8d4bf6;
    --colors-purple-600: #6d19f5;
    --colors-purple-700: #570ad1;
    --colors-purple-800: #4308a0;
    --colors-purple-900: #2f0670;
    --colors-purple-1000: #1a033f;
    --colors-ohre-100: #FFF8F1;
    --colors-ohre-200: #FFE6C8;
    --colors-ohre-300: #FFD3A0;
    --colors-ohre-400: #FFC077;
    --colors-ohre-500: #E2A763;
    --colors-ohre-600: #C58F50;
    --colors-ohre-700: #A8773F;
    --colors-ohre-800: #8A6030;
    --colors-ohre-900: #6D4B22;
    --colors-ohre-1000: #503617;
    --colors-cyan-100: #ecffff;
    --colors-cyan-200: #c1feff;
    --colors-cyan-300: #96feff;
    --colors-cyan-400: #6bfdff;
    --colors-cyan-500: #3df1f3;
    --colors-cyan-600: #2acfd1;
    --colors-cyan-700: #1aadaf;
    --colors-cyan-800: #0e8c8d;
    --colors-cyan-900: #056a6b;
    --colors-cyan-1000: #004849;
    --colors-yellow-100: #FFFBED;
    --colors-yellow-200: #FFF3C5;
    --colors-yellow-300: #FFEB9D;
    --colors-yellow-400: #FFE375;
    --colors-yellow-500: #FFDB4D;
    --colors-yellow-600: #DDBC38;
    --colors-yellow-700: #BB9D27;
    --colors-yellow-800: #997F19;
    --colors-yellow-900: #77620E;
    --colors-yellow-1000: #554506;
    --border-widths-none: 0px;
    --border-widths-sm: 1px;
    --border-widths-md: 2px;
    --border-widths-lg: 4px;
    --spacing-0: 0rem;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-6: 1.5rem;
    --spacing-8: 2rem;
    --spacing-12: 3rem;
    --spacing-20: 5rem;
    --spacing-30: 7.5rem;
    --spacing-56: 14rem;
    --spacing-72: 18rem;
    --spacing-98: 24rem;
    --spacing-128: 32rem;
    --spacing-160: 40rem;
    --radii-none: 0px;
    --radii-xs: 2px;
    --radii-sm: 4px;
    --radii-md: 8px;
    --radii-lg: 16px;
    --radii-full: 9999px;
    --font-sizes-xs: 0.75rem;
    --font-sizes-sm: 0.875rem;
    --font-sizes-md: 1rem;
    --font-sizes-lg: 1.25rem;
    --font-sizes-xl: 1.5rem;
    --font-sizes-2xl: 2rem;
    --font-sizes-3xl: 2.5rem;
    --font-sizes-4xl: 3rem;
    --letter-spacings-xs: -1.5px;
    --letter-spacings-sm: -1.2px;
    --letter-spacings-md: -1px;
    --letter-spacings-lg: -0.8px;
    --letter-spacings-xl: -0.6px;
    --letter-spacings-2xl: -0.4px;
    --letter-spacings-3xl: -0.2px;
    --line-heights-md: 1rem;
    --line-heights-lg: 1.25rem;
    --line-heights-xl: 1.5rem;
    --line-heights-2xl: 1.75rem;
    --line-heights-3xl: 2.25rem;
    --line-heights-4xl: 2.75rem;
    --line-heights-5xl: 3rem;
    --font-weights-regular: 400;
    --font-weights-medium: 500;
    --font-weights-semibold: 600;
    --font-weights-bold: 700;
    --font-weights-regular-italic: Italic;
    --font-weights-medium-italic: Medium Italic;
    --fonts-inter: Inter;
    --fonts-noto-sans: Noto Sans;
    --breakpoints-sm: 640px;
    --breakpoints-md: 768px;
    --breakpoints-lg: 1024px;
    --breakpoints-xl: 1280px;
    --breakpoints-2xl: 1536px;
    --colors-content-neutral-bold: var(--colors-neutral-0);
    --colors-content-neutral-default: var(--colors-neutral-300);
    --colors-content-neutral-subtle: var(--colors-neutral-600);
    --colors-content-neutral-subtlest: var(--colors-neutral-900);
    --colors-content-neutral-disabled: var(--colors-neutral-800);
    --colors-content-neutral-default_inverse: var(--colors-neutral-1100);
    --colors-content-neuroid-primary-default: var(--colors-purple-500);
    --colors-content-neuroid-primary-default_inverse: var(--colors-purple-800);
    --colors-content-danger-default: var(--colors-red-600);
    --colors-content-warning-default: var(--colors-orange-600);
    --colors-content-success-default: var(--colors-green-600);
    --colors-content-informative-default: var(--colors-blue-600);
    --colors-content-zoltarina-primary-default: var(--colors-ohre-800);
    --colors-content-zoltarina-primary-defult_inverse: var(--colors-ohre-1000);
    --colors-content-heyd-primary-default: var(--colors-cyan-800);
    --colors-content-heyd-primary-defult_inverse: var(--colors-cyan-1000);
    --colors-content-static-white-bold: var(--colors-neutral-1200);
    --colors-content-static-white-default: var(--colors-neutral-1050);
    --colors-content-static-white-subtle: var(--colors-neutral-1000);
    --colors-content-static-white-subtlest: var(--colors-neutral-900);
    --colors-content-static-white-disabled: var(--colors-neutral-800);
    --colors-content-static-black-bold: var(--colors-neutral-0);
    --colors-content-static-black-default: var(--colors-neutral-200);
    --colors-content-static-black-subtle: var(--colors-neutral-400);
    --colors-content-static-black-subtlest: var(--colors-neutral-600);
    --colors-content-static-black-disabled: var(--colors-neutral-800);
    --colors-content-heybee-primary-default: var(--colors-yellow-800);
    --colors-content-heybee-primary-default_inverse: var(--colors-yellow-1000);
    --colors-background-neutral-default: var(--colors-neutral-1050);
    --colors-background-neutral-selected: var(--colors-neutral-1000);
    --colors-background-neutral-disabled: var(--colors-neutral-1000);
    --colors-background-neuroid-primary-default: var(--colors-purple-300);
    --colors-background-neuroid-primary-selected: var(--colors-purple-400);
    --colors-background-neuroid-secondary-default: var(--colors-purple-200);
    --colors-background-neuroid-secondary-selected: var(--colors-purple-300);
    --colors-background-danger-default: var(--colors-red-300);
    --colors-background-danger-selected: var(--colors-red-400);
    --colors-background-warning-default: var(--colors-orange-300);
    --colors-background-warning-selected: var(--colors-orange-400);
    --colors-background-success-default: var(--colors-green-300);
    --colors-background-success-selected: var(--colors-green-400);
    --colors-background-informative-default: var(--colors-blue-300);
    --colors-background-informative-selected: var(--colors-blue-400);
    --colors-background-zoltarina-primary-default: var(--colors-ohre-400);
    --colors-background-zoltarina-primary-selected: var(--colors-ohre-500);
    --colors-background-zoltarina-secondary-default: var(--colors-ohre-200);
    --colors-background-zoltarina-secondary-selected: var(--colors-ohre-300);
    --colors-background-heyd-primary-default: var(--colors-cyan-500);
    --colors-background-heyd-primary-selected: var(--colors-cyan-600);
    --colors-background-heyd-secondary-default: var(--colors-cyan-200);
    --colors-background-heyd-secondary-selected: var(--colors-cyan-300);
    --colors-background-static-white-alpha-bold: var(--colors-white-700-a);
    --colors-background-static-white-alpha-default: var(--colors-white-500-a);
    --colors-background-static-white-alpha-selected: var(--colors-white-600-a);
    --colors-background-static-white-alpha-disabled: var(--colors-white-500-a);
    --colors-background-static-black-alpha-bold: var(--colors-black-700-a);
    --colors-background-static-black-alpha-default: var(--colors-black-500-a);
    --colors-background-static-black-alpha-selected: var(--colors-black-600-a);
    --colors-background-static-black-alpha-disabled: var(--colors-black-500-a);
    --colors-background-heybee-primary-default: var(--colors-yellow-500);
    --colors-background-heybee-primary-selected: var(--colors-yellow-600);
    --colors-surface-base: var(--colors-neutral-1100);
    --colors-surface-layer_1: var(--colors-neutral-1100);
    --colors-surface-layer_2: var(--colors-neutral-1050);
    --colors-shadow-overlay: var(--colors-black-100-a);
    --colors-shadow-raised: var(--colors-black-400-a);
    --colors-scrim-default: var(--colors-black-600-a);
    --colors-skeleton-default: var(--colors-neutral-800);
    --colors-skeleton-subtle: var(--colors-neutral-700);
    --colors-border-neutral-default: var(--colors-neutral-700);
    --colors-border-neutral-subtle: var(--colors-neutral-900);
    --colors-border-neutral-disabled: var(--colors-neutral-1000);
    --colors-border-neuroid-primary-default: var(--colors-purple-500);
    --colors-border-danger-default: var(--colors-red-500);
    --colors-border-warning-default: var(--colors-orange-500);
    --colors-border-success-default: var(--colors-green-500);
    --colors-border-informative-default: var(--colors-blue-500);
    --colors-border-zoltarina-primary-default: var(--colors-ohre-800);
    --colors-border-heyd-primary-default: var(--colors-cyan-800);
    --colors-border-heybee-primary-default: var(--colors-yellow-800);
    --shadows-raised: 0px 1px 3px 0px var(--colors-shadow-raised);
    --shadows-overlay: 0px 20px 25px -5px var(--colors-shadow-overlay);
}

  .dark {
    --colors-content-neutral-bold: var(--colors-neutral-1100);
    --colors-content-neutral-default: var(--colors-neutral-1000);
    --colors-content-neutral-subtle: var(--colors-neutral-900);
    --colors-content-neutral-subtlest: var(--colors-neutral-500);
    --colors-content-neutral-disabled: var(--colors-neutral-600);
    --colors-content-neutral-default_inverse: var(--colors-neutral-0);
    --colors-content-neuroid-primary-default: var(--colors-purple-400);
    --colors-content-neuroid-primary-default_inverse: var(--colors-purple-800);
    --colors-content-danger-default: var(--colors-red-400);
    --colors-content-warning-default: var(--colors-orange-400);
    --colors-content-success-default: var(--colors-green-400);
    --colors-content-informative-default: var(--colors-blue-400);
    --colors-content-zoltarina-primary-default: var(--colors-ohre-400);
    --colors-content-zoltarina-primary-defult_inverse: var(--colors-ohre-1000);
    --colors-content-heyd-primary-default: var(--colors-cyan-400);
    --colors-content-heyd-primary-defult_inverse: var(--colors-cyan-1000);
    --colors-content-static-white-bold: var(--colors-neutral-1200);
    --colors-content-static-white-default: var(--colors-neutral-1050);
    --colors-content-static-white-subtle: var(--colors-neutral-1000);
    --colors-content-static-white-subtlest: var(--colors-neutral-900);
    --colors-content-static-white-disabled: var(--colors-neutral-800);
    --colors-content-static-black-bold: var(--colors-neutral-0);
    --colors-content-static-black-default: var(--colors-neutral-200);
    --colors-content-static-black-subtle: var(--colors-neutral-400);
    --colors-content-static-black-subtlest: var(--colors-neutral-600);
    --colors-content-static-black-disabled: var(--colors-neutral-800);
    --colors-content-heybee-primary-default: var(--colors-yellow-500);
    --colors-content-heybee-primary-default_inverse: var(--colors-yellow-1000);
    --colors-background-neutral-default: var(--colors-neutral-200);
    --colors-background-neutral-selected: var(--colors-neutral-300);
    --colors-background-neutral-disabled: var(--colors-neutral-400);
    --colors-background-neuroid-primary-default: var(--colors-purple-600);
    --colors-background-neuroid-primary-selected: var(--colors-purple-700);
    --colors-background-neuroid-secondary-default: var(--colors-purple-300);
    --colors-background-neuroid-secondary-selected: var(--colors-purple-400);
    --colors-background-danger-default: var(--colors-red-700);
    --colors-background-danger-selected: var(--colors-red-800);
    --colors-background-warning-default: var(--colors-orange-700);
    --colors-background-warning-selected: var(--colors-orange-800);
    --colors-background-success-default: var(--colors-green-700);
    --colors-background-success-selected: var(--colors-green-800);
    --colors-background-informative-default: var(--colors-blue-700);
    --colors-background-informative-selected: var(--colors-blue-800);
    --colors-background-zoltarina-primary-default: var(--colors-ohre-400);
    --colors-background-zoltarina-primary-selected: var(--colors-ohre-500);
    --colors-background-zoltarina-secondary-default: var(--colors-ohre-200);
    --colors-background-zoltarina-secondary-selected: var(--colors-ohre-300);
    --colors-background-heyd-primary-default: var(--colors-cyan-500);
    --colors-background-heyd-primary-selected: var(--colors-cyan-600);
    --colors-background-heyd-secondary-default: var(--colors-cyan-200);
    --colors-background-heyd-secondary-selected: var(--colors-cyan-300);
    --colors-background-static-white-alpha-bold: var(--colors-white-700-a);
    --colors-background-static-white-alpha-default: var(--colors-white-500-a);
    --colors-background-static-white-alpha-selected: var(--colors-white-600-a);
    --colors-background-static-white-alpha-disabled: var(--colors-white-500-a);
    --colors-background-static-black-alpha-bold: var(--colors-black-700-a);
    --colors-background-static-black-alpha-default: var(--colors-black-500-a);
    --colors-background-static-black-alpha-selected: var(--colors-black-600-a);
    --colors-background-static-black-alpha-disabled: var(--colors-black-500-a);
    --colors-background-heybee-primary-default: var(--colors-yellow-500);
    --colors-background-heybee-primary-selected: var(--colors-yellow-600);
    --colors-surface-base: var(--colors-neutral-0);
    --colors-surface-layer_1: var(--colors-neutral-100);
    --colors-surface-layer_2: var(--colors-neutral-200);
    --colors-shadow-overlay: var(--colors-black-400-a);
    --colors-shadow-raised: var(--colors-black-600-a);
    --colors-scrim-default: var(--colors-black-600-a);
    --colors-skeleton-default: var(--colors-neutral-100);
    --colors-skeleton-subtle: var(--colors-neutral-200);
    --colors-border-neutral-default: var(--colors-neutral-400);
    --colors-border-neutral-subtle: var(--colors-neutral-300);
    --colors-border-neutral-disabled: var(--colors-neutral-200);
    --colors-border-neuroid-primary-default: var(--colors-purple-400);
    --colors-border-danger-default: var(--colors-red-400);
    --colors-border-warning-default: var(--colors-orange-400);
    --colors-border-success-default: var(--colors-green-400);
    --colors-border-informative-default: var(--colors-blue-400);
    --colors-border-zoltarina-primary-default: var(--colors-ohre-400);
    --colors-border-heyd-primary-default: var(--colors-cyan-400);
    --colors-border-heybee-primary-default: var(--colors-yellow-500)
}

  @keyframes fade-in {
    from {
      opacity: 0;
}

    to {
      opacity: 1;
}
}

  @keyframes fade-out {
    from {
      opacity: 1;
}

    to {
      opacity: 0;
}
}

  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(64px);
}

    100% {
      opacity: 1;
      transform: translateY(0);
}
}

  @keyframes slide-out {
    0% {
      opacity: 1;
      transform: translateY(0);
}

    100% {
      opacity: 0;
      transform: translateY(64px);
}
}

  @keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
}

    100% {
      transform: translateX(0%);
}
}

  @keyframes slide-out-left {
    0% {
      transform: translateX(0%);
}

    100% {
      transform: translateX(-100%);
}
}

  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
}

    100% {
      transform: translateX(0%);
}
}

  @keyframes slide-out-right {
    0% {
      transform: translateX(0%);
}

    100% {
      transform: translateX(100%);
}
}

  @keyframes collapse-in {
    0% {
      height: var(--sizes-0);
}

    100% {
      height: var(--height);
}
}

  @keyframes collapse-out {
    0% {
      height: var(--height);
}

    100% {
      height: var(--sizes-0);
}
}

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-4px);
}

    100% {
      opacity: 1;
      transform: translateY(0);
}
}

  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
}

    100% {
      opacity: 0;
      transform: translateY(-4px);
}
}

  @keyframes skeleton-pulse {
    50% {
      opacity: 0.5;
}
}

  @keyframes spin {
    0% {
      transform: rotate(0deg);
}

    100% {
      transform: rotate(360deg);
}
}
}

@layer utilities{
  @layer compositions{
    .textStyle_label\.sm {
      font-size: var(--font-sizes-xs);
      line-height: var(--line-heights-md);
}

    .textStyle_label\.sm,.textStyle_label\.md {
      letter-spacing: var(--letter-spacings-3xl);
      font-family: var(--fonts-noto-sans);
      font-weight: var(--font-weights-medium);
}

    .textStyle_label\.md {
      font-size: var(--font-sizes-sm);
      line-height: var(--line-heights-lg);
}

    .textStyle_body\.lg {
      letter-spacing: var(--letter-spacings-3xl);
      font-family: var(--fonts-noto-sans);
      font-weight: var(--font-weights-regular);
      font-size: var(--font-sizes-md);
      line-height: var(--line-heights-xl);
}

    .textStyle_title\.lg {
      letter-spacing: var(--letter-spacings-xl);
      font-family: var(--fonts-noto-sans);
      font-weight: var(--font-weights-semibold);
      font-size: var(--font-sizes-lg);
      line-height: var(--line-heights-2xl);
}

    .textStyle_body\.md {
      letter-spacing: var(--letter-spacings-3xl);
      font-family: var(--fonts-noto-sans);
      font-weight: var(--font-weights-regular);
      font-size: var(--font-sizes-sm);
      line-height: var(--line-heights-lg);
}

    .textStyle_display\.lg {
      letter-spacing: var(--letter-spacings-xs);
      font-size: var(--font-sizes-4xl);
      line-height: var(--line-heights-5xl);
}

    .textStyle_display\.lg,.textStyle_display\.md {
      font-family: var(--fonts-inter);
      font-weight: var(--font-weights-bold);
}

    .textStyle_display\.md {
      letter-spacing: var(--letter-spacings-sm);
      font-size: var(--font-sizes-3xl);
      line-height: var(--line-heights-4xl);
}

    .textStyle_headline\.md {
      letter-spacing: var(--letter-spacings-md);
      font-family: var(--fonts-inter);
      font-weight: var(--font-weights-bold);
      font-size: var(--font-sizes-2xl);
      line-height: var(--line-heights-3xl);
}

    .textStyle_headline\.sm {
      letter-spacing: var(--letter-spacings-lg);
      font-family: var(--fonts-inter);
      font-weight: var(--font-weights-semibold);
      font-size: var(--font-sizes-xl);
      line-height: var(--line-heights-2xl);
}

    .textStyle_title\.md {
      letter-spacing: var(--letter-spacings-xl);
      font-family: var(--fonts-noto-sans);
      font-weight: var(--font-weights-medium);
      font-size: var(--font-sizes-md);
      line-height: var(--line-heights-xl);
}

    .textStyle_body\.sm {
      letter-spacing: var(--letter-spacings-3xl);
      font-size: var(--font-sizes-xs);
      font-weight: var(--font-weights-regular);
      font-family: var(--fonts-noto-sans);
      line-height: var(--line-heights-md);
}
}

  .ap_none {
    appearance: none;
    -webkit-appearance: none;
}

  .cursor_pointer {
    cursor: pointer;
}

  .d_inline-flex {
    display: inline-flex;
}

  .isolation_isolate {
    isolation: isolate;
}

  .min-w_0 {
    min-width: var(--sizes-0);
}

  .ring_none {
    outline: var(--borders-none);
}

  .pos_relative {
    position: relative;
}

  .us_none {
    -webkit-user-select: none;
    user-select: none;
}

  .va_middle {
    vertical-align: middle;
}

  .white-space_nowrap {
    white-space: nowrap;
}

  .bg_transparent {
    background: transparent;
}

  .h_7 {
    height: var(--sizes-7);
}

  .px_8px {
    padding-inline: 8px;
}

  .gap_1 {
    gap: var(--spacing-1);
}

  .h_8 {
    height: var(--sizes-8);
}

  .px_16px {
    padding-inline: 16px;
}

  .h_10 {
    height: var(--sizes-10);
}

  .px_20px {
    padding-inline: 20px;
}

  .h_12 {
    height: var(--sizes-12);
}

  .px_28px {
    padding-inline: 28px;
}

  .bdr_full {
    border-radius: var(--radii-full);
}

  .bdr_lg {
    border-radius: var(--radii-lg);
}

  .bdr_md {
    border-radius: var(--radii-md);
}

  .w_full {
    width: var(--sizes-full);
}

  .bg_background\.neuroidPrimary\.default {
    background: var(--colors-background-neuroid-primary-default);
}

  .c_content\.neutral\.bold {
    color: var(--colors-content-neutral-bold);
}

  .bg_background\.neuroidSecondary\.default {
    background: var(--colors-background-neuroid-secondary-default);
}

  .c_content\.static\.black\.bold {
    color: var(--colors-content-static-black-bold);
}

  .bg_background\.zoltarinaPrimary\.default {
    background: var(--colors-background-zoltarina-primary-default);
}

  .bg_background\.zoltarinaSecondary\.default {
    background: var(--colors-background-zoltarina-secondary-default);
}

  .bg_background\.heydPrimary\.default {
    background: var(--colors-background-heyd-primary-default);
}

  .bg_background\.heydSecondary\.default {
    background: var(--colors-background-heyd-secondary-default);
}

  .bg_background\.heybeePrimary\.default {
    background: var(--colors-background-heybee-primary-default);
}

  .bg_background\.neutral\.default {
    background: var(--colors-background-neutral-default);
}

  .bg_background\.danger\.default {
    background: var(--colors-background-danger-default);
}

  .bg_background\.warning\.default {
    background: var(--colors-background-warning-default);
}

  .bg_background\.success\.default {
    background: var(--colors-background-success-default);
}

  .bg_background\.informative\.default {
    background: var(--colors-background-informative-default);
}

  .c_content\.neuroidPrimary\.default {
    color: var(--colors-content-neuroid-primary-default);
}

  .c_content\.zoltarinaPrimary\.default {
    color: var(--colors-content-zoltarina-primary-default);
}

  .c_content\.heydPrimary\.default {
    color: var(--colors-content-heyd-primary-default);
}

  .c_content\.heybeePrimary\.default {
    color: var(--colors-content-heybee-primary-default);
}

  .c_content\.neutral\.default {
    color: var(--colors-content-neutral-default);
}

  .c_content\.danger\.default {
    color: var(--colors-content-danger-default);
}

  .c_content\.warning\.default {
    color: var(--colors-content-warning-default);
}

  .c_content\.success\.default {
    color: var(--colors-content-success-default);
}

  .c_content\.informative\.default {
    color: var(--colors-content-informative-default);
}

  .pointer-events_none {
    pointer-events: none;
}

  .pointer-events_auto {
    pointer-events: auto;
}

  .pos_absolute {
    position: absolute;
}

  .trf_translate\(-50\%\,_-50\%\) {
    transform: translate(-50%, -50%);
}

  .inset-s_50\% {
    inset-inline-start: 50%;
}

  .op_0 {
    opacity: 0;
}

  .bkdp_blur\(4px\) {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

  .h_100vh {
    height: 100vh;
}

  .pos_fixed {
    position: fixed;
}

  .w_100vw {
    width: 100vw;
}

  .z_overlay {
    z-index: var(--z-index-overlay);
}

  .d_flex {
    display: flex;
}

  .ov_auto {
    overflow: auto;
}

  .h_full {
    height: var(--sizes-full);
}

  .z_modal {
    z-index: var(--z-index-modal);
}

  .bg_white {
    background: white;
}

  .bdr_sm {
    border-radius: var(--radii-sm);
}

  .bx-sh_overlay {
    box-shadow: var(--shadows-overlay);
}

  .min-w_sm {
    min-width: var(--sizes-sm);
}

  .p_3 {
    padding: var(--spacing-3);
}

  .c_content\.neutral\.default_inverse {
    color: var(--colors-content-neutral-default_inverse);
}

  .w_7 {
    width: var(--sizes-7);
}

  .p_4px {
    padding: 4px;
}

  .w_8 {
    width: var(--sizes-8);
}

  .w_10 {
    width: var(--sizes-10);
}

  .p_8px {
    padding: 8px;
}

  .sr_true {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

  .d_inline-block {
    display: inline-block;
}

  .bdr-se_full {
    border-start-end-radius: var(--radii-full);
}

  .bdr-es_full {
    border-end-start-radius: var(--radii-full);
}

  .anim_spin {
    animation: var(--animations-spin);
}

  .w_4 {
    width: var(--sizes-4);
}

  .h_4 {
    height: var(--sizes-4);
}

  .w_6 {
    width: var(--sizes-6);
}

  .h_6 {
    height: var(--sizes-6);
}

  .w_12 {
    width: var(--sizes-12);
}

  .w_24 {
    width: var(--sizes-24);
}

  .h_24 {
    height: var(--sizes-24);
}

  .ai_center {
    align-items: center;
}

  .fw_semibold {
    font-weight: var(--font-weights-semibold);
}

  .jc_center {
    justify-content: center;
}

  .trs-dur_normal {
    --transition-duration: var(--durations-normal);
    transition-duration: var(--durations-normal);
}

  .trs-prop_background\,_border-color\,_color\,_box-shadow {
    --transition-prop: background, border-color, color, box-shadow;
    transition-property: background, border-color, color, box-shadow;
}

  .trs-tmf_default {
    --transition-easing: var(--easings-default);
    transition-timing-function: var(--easings-default);
}

  .bd-w_1px {
    border-width: 1px;
}

  .border-style_solid {
    border-style: solid;
}

  .bd-c_border\.neutral\.default {
    border-color: var(--colors-border-neutral-default);
}

  .flex-b_auto {
    flex-basis: auto;
}

  .flex-g_1 {
    flex-grow: 1;
}

  .bd-c_border\.neuroidPrimary\.default {
    border-color: var(--colors-border-neuroid-primary-default);
}

  .bd-c_border\.zoltarinaPrimary\.default {
    border-color: var(--colors-border-zoltarina-primary-default);
}

  .bd-c_border\.heydPrimary\.default {
    border-color: var(--colors-border-heyd-primary-default);
}

  .bd-c_border\.heybeePrimary\.default {
    border-color: var(--colors-border-heybee-primary-default);
}

  .bd-c_border\.danger\.default {
    border-color: var(--colors-border-danger-default);
}

  .bd-c_border\.warning\.default {
    border-color: var(--colors-border-warning-default);
}

  .bd-c_border\.success\.default {
    border-color: var(--colors-border-success-default);
}

  .bd-c_border\.informative\.default {
    border-color: var(--colors-border-informative-default);
}

  .top_50\% {
    top: 50%;
}

  .left_0 {
    left: var(--spacing-0);
}

  .top_0 {
    top: var(--spacing-0);
}

  .bd-c_inherit {
    border-color: inherit;
}

  .bd-b-c_transparent {
    border-bottom-color: transparent;
}

  .bd-l-c_transparent {
    border-left-color: transparent;
}

  .bd-w_md {
    border-width: var(--border-widths-md);
}

  .anim-dur_slowest {
    animation-duration: var(--durations-slowest);
}

  .hidden\:d_none:is([hidden]) {
    display: none;
}

  .disabled\:bg_background\.neutral\.disabled:is(:disabled, [disabled], [data-disabled]) {
    background: var(--colors-background-neutral-disabled);
}

  .disabled\:c_content\.neutral\.disabled:is(:disabled, [disabled], [data-disabled]) {
    color: var(--colors-content-neutral-disabled);
}

  .disabled\:cursor_not-allowed:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
}

  .disabled\:pointer-events_none:is(:disabled, [disabled], [data-disabled]) {
    pointer-events: none;
}

  .disabled\:bg_transparent:is(:disabled, [disabled], [data-disabled]) {
    background: transparent;
}

  .\[\&_\:where\(svg\)\]\:w_20px :where(svg) {
    width: 20px;
}

  .\[\&_\:where\(svg\)\]\:h_20px :where(svg) {
    height: 20px;
}

  .\[\&_\:where\(svg\)\]\:w_24px :where(svg) {
    width: 24px;
}

  .\[\&_\:where\(svg\)\]\:h_24px :where(svg) {
    height: 24px;
}

  :root .light\:bg_white\.100A,.light .light\:bg_white\.100A {
    background: var(--colors-white-100-a);
}

  .dark .dark\:bg_black\.100A {
    background: var(--colors-black-100-a);
}

  .open\:anim_backdrop-in:is([open], [data-open], [data-state="open"]) {
    animation: var(--animations-backdrop-in);
}

  .closed\:anim_backdrop-out:is([closed], [data-closed], [data-state="closed"]) {
    animation: var(--animations-backdrop-out);
}

  .open\:anim_dialog-in:is([open], [data-open], [data-state="open"]) {
    animation: var(--animations-dialog-in);
}

  .closed\:anim_dialog-out:is([closed], [data-closed], [data-state="closed"]) {
    animation: var(--animations-dialog-out);
}

  .disabled\:bd-c_border\.neutral\.disabled:is(:disabled, [disabled], [data-disabled]) {
    border-color: var(--colors-border-neutral-disabled);
}

  @media (hover: hover) and (pointer: fine) {
    .hover\:bg_background\.neuroidPrimary\.selected:is(:hover, [data-hover]) {
      background: var(--colors-background-neuroid-primary-selected);
}
}

  @media (hover: hover) and (pointer: fine) {
    .hover\:bg_background\.neuroidSecondary\.selected:is(:hover, [data-hover]) {
      background: var(--colors-background-neuroid-secondary-selected);
}
}

  @media (hover: hover) and (pointer: fine) {
    .hover\:bg_background\.zoltarinaPrimary\.selected:is(:hover, [data-hover]) {
      background: var(--colors-background-zoltarina-primary-selected);
}
}

  @media (hover: hover) and (pointer: fine) {
    .hover\:bg_background\.zoltarinaSecondary\.selected:is(:hover, [data-hover]) {
      background: var(--colors-background-zoltarina-secondary-selected);
}
}

  @media (hover: hover) and (pointer: fine) {
    .hover\:bg_background\.heydPrimary\.selected:is(:hover, [data-hover]) {
      background: var(--colors-background-heyd-primary-selected);
}
}

  @media (hover: hover) and (pointer: fine) {
    .hover\:bg_background\.heydSecondary\.selected:is(:hover, [data-hover]) {
      background: var(--colors-background-heyd-secondary-selected);
}
}

  @media (hover: hover) and (pointer: fine) {
    .hover\:bg_background\.heybeePrimary\.selected:is(:hover, [data-hover]) {
      background: var(--colors-background-heybee-primary-selected);
}
}

  @media (hover: hover) and (pointer: fine) {
    .hover\:bg_background\.neutral\.selected:is(:hover, [data-hover]) {
      background: var(--colors-background-neutral-selected);
}
}

  @media (hover: hover) and (pointer: fine) {
    .hover\:bg_background\.danger\.selected:is(:hover, [data-hover]) {
      background: var(--colors-background-danger-selected);
}
}

  @media (hover: hover) and (pointer: fine) {
    .hover\:bg_background\.warning\.selected:is(:hover, [data-hover]) {
      background: var(--colors-background-warning-selected);
}
}

  @media (hover: hover) and (pointer: fine) {
    .hover\:bg_background\.success\.selected:is(:hover, [data-hover]) {
      background: var(--colors-background-success-selected);
}
}

  @media (hover: hover) and (pointer: fine) {
    .hover\:bg_background\.informative\.selected:is(:hover, [data-hover]) {
      background: var(--colors-background-informative-selected);
}
}

  @media (hover: hover) and (pointer: fine) {
    .hover\:c_content\.neutral\.bold:is(:hover, [data-hover]) {
      color: var(--colors-content-neutral-bold);
}
}

  @media (hover: hover) and (pointer: fine) {
    .hover\:td_underline:is(:hover, [data-hover]) {
      text-decoration: underline;
}
}
}